@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5b3l8j');
    src:  url('../fonts/icomoon.eot?5b3l8j#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?5b3l8j') format('truetype'),
      url('../fonts/icomoon.woff?5b3l8j') format('woff'),
      url('../fonts/icomoon.svg?5b3l8j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delivered:before {
  content: "\e911";
}
.icon-order-shipped:before {
  content: "\e912";
}
.icon-ready-to-shop:before {
  content: "\e913";
}
.icon-order-comfrim:before {
  content: "\e914";
}
.icon-filter:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-left_arrow:before {
  content: "\e918";
}
.icon-img:before {
  content: "\e919";
}
.icon-order:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e905";
}
.icon-down-arrow:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-shopping-cart:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e90c";
}
.icon-left:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}

