/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@tailwind base;
@tailwind components;

body{@apply font-playpen bg-[#FFF3F8];}
section{@apply relative;}
.anim{@apply transition-all duration-300;}
.wrapper{@apply max-w-[1500px] px-5 2xl:px-7 mx-auto;}
.primary_paddingg{@apply py-12 lg:py-16 xl:py-20 2xl:py-24;}
.h1,h1{@apply text-28 md:text-36 lg:text-46 xl:text-56 2xl:text-66 font-semibold text-primary;}
.h2,h2{@apply text-24 lg:text-36 xl:text-40 2xl:text-50 font-bold text-primary;}
.h3,h3{@apply text-22 lg:text-24 xl:text-28 2xl:text-32 font-bold text-primary;}
.h4,h4{@apply text-18 lg:text-20 xl:text-24 font-bold text-primary;}
.text18{@apply text-14 lg:text-16 xl:text-18;}
.text26{@apply text-18 lg:text-20 xl:text-22 2xl:text-26;}
.gra-text{@apply bg-primary_gra text-transparent bg-clip-text;}
.gra_hover{@apply hover:bg-primary_gra hover:bg-clip-text hover:text-transparent;}
.gra_ghover{@apply group-hover:bg-primary_gra group-hover:bg-clip-text group-hover:text-transparent;}
.input_box{@apply w-full py-3 md:py-3.5 xl:py-[15px] px-3.5 md:px-4 lg:px-5 2xl:px-7 bg-white outline-none rounded-full text-secondary text-14 lg:text-16 2xl:text-18 font-light;}

.card_social{@apply p-2 w-8 h-8 lg:w-10 lg:h-10 xl:w-12 xl:h-12 flex items-center justify-center rounded-full bg-white;}
.guide_card{@apply p-5 sm:pb-8 lg:pb-[50px] bg-white rounded-3xl xl:rounded-[50px] h-full;}
#drop_list.droplist_open{@apply visible translate-y-2;}
.title_tab.active span .close {
  display: block;
}
.title_tab.active span .open {
  display: none;
}
.title_tab.active span.open {
  transform: rotate(90deg);
}
.btn span{@apply absolute w-full text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-14 lg:text-16;}

.flo_right {
  animation: flower_r 3s infinite alternate ease-in-out;
}
.flo_left {
  animation: flower_l 3s infinite alternate ease-in-out;
}


.input_radio {
  appearance: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid #CBD4E1;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.input_radio_popup {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #CBD4E1;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.input_radio_popup:checked {
  border: 4px solid #EC008C;
  
}
.input_radio:checked {
  border: 6px solid #EC008C;
  
}

@keyframes flower_r {
  0% {
     transform: rotate(0);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
      transform: rotate(20deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
      transform: rotate(0);
  }
}
@keyframes flower_l {
  0% {
     transform: rotate(0);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
      transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
      transform: rotate(0);
  }
}
@tailwind utilities;